@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --txt-light: #000;
  --bg-light: #ededed;
  --bg-light-2: #fff;
  --pr-light: #370377;
  --sec-light: #27fce6;
  --acc-light: #824dff;

  --txt-dark: #fff;
  --bg-dark-1: #121212;
  --bg-dark-2: #292929;
  --pri-dark: #bc88fc;
  --sec-dark: #03d8c3;
  --acc-dark: #824dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-dark-2);
  color: var(--txt-dark);
  font-family: "Bebas Neue", "Poppins" sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header start */
.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
}

.header > h2 {
  margin-right: auto;
}

/* header end */

/* main start */
.row {
  min-height: 75vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* left-column start */
.left-column {
  background: var(--bg-dark-1);
  margin: 1rem;
}

.left-column img {
  filter: invert(1);
}



/* .max-min-temp, .sunrise-sunset-time {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.location {
  padding: 1rem;
  display: flex;
}

.location > input {
  padding: 2px 6px;
  border: 1px solid var(--bg-dark-1);
  flex: 4;
  border-right: none;
}

.location > button {
  border: none;
  max-width: 40px;
  min-height: 40px;
  background: var(--acc-dark);
  flex: 1;
}

#form-btn img {
  width: 20px;
  height: auto;
}

.left-column-details {
  padding: 6rem 2rem 0rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}

#current-temp {
  font-size: 2.6rem;
}

.temp-sun-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.min-max-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  font-size: 1.1rem;
}

.sunrise-container, .sunset-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}
.sunrise-container > div, .sunset-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.date-time-container, .location-container {
  display: flex;
  gap: .8rem;
}

/* left column end */

/* right column start */
.right-column {
  margin: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.card {
  background: var(--bg-dark-1);
  flex: 1;
  min-height: 200px;
}

.third-card {
  background: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.third-card-inner {
  background: var(--bg-dark-1);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* map start */
#map {
  height: 100%;
}
/* map end */

.canvas {
  background: var(--bg-dark);
  width: 100%;
}

.hourly-temp-card {
  display: flex;
}

/* hourly temp ui start*/

/* #hourly-temp-container ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow: auto;
} */
/* hourly temp ui end */

/* right column end */

/* footer start*/
.footer {
  text-align: center;
}
/* footer end */

/* dark theme start */
body.theme {
  background: var(--bg-light);
  color: var(--txt-light);
}

body.theme .left-column {
  background: var(--bg-light-2);
}

body.theme .card {
  background: var(--bg-light-2);
}

body.theme .third-card {
  background: none;
}
body.theme .third-card-inner {
  background: var(--bg-light-2);
}

body.theme .left-column img {
  filter: none;
}

/* body.theme .card {
    background: #000000;
} */
/* dark theme end */

@media screen and (max-width: 760px) {
  .row {
    grid-template-columns: 1fr;
  }
}
