@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bg: #e2e2e2;
    --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", "Poppins" sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header start */
.header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.header > h2 {
    margin-right: auto;
}

/* header end */

/* main start */
.row {
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* left-column start */
.left-column {
    background: blanchedalmond;
    margin: 1rem;
}

.location {
    padding: 1rem;
    display: flex;
    gap: .2rem;
}

.location > input, .location > button {
    padding: 2px 6px;
}

.location > input {
    flex: 3;
}

.location > button {
    flex: 1;
}

.left-column-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

#current-temp {
    font-size: 2.6rem;
}
/* left column end */

/* right column start */
.right-column {
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.card {
    flex: 1;
    min-height: 200px;
}

.third-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.third-card-inner {
    border: 1px solid black;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* map start */
#map {
    height: 100%;
}
/* map end */

.canvas{
    width: 100%;
}

.hourly-temp-card {
    display: flex;
}

/* hourly temp ui start*/

/* #hourly-temp-container ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow: auto;
} */
/* hourly temp ui end */

/* right column end */

/* footer start*/
.footer {
    text-align: center;
}
/* footer end */

/* theme start */
body.theme {
    background: #121212;
    color: #fff;
}


body.theme .left-column {
    background-color: #fff;
    color: #121212;
}

/* body.theme .card {
    background: #000000;
} */
/* theme end */

@media screen and (max-width: 760px) {
    .row {
        grid-template-columns: 1fr;
    }
}